

.info-text {
  text-align:center;
}

.mat-expansion-panel {
  background: none !important;
  width: 80% !important;
    margin:1rem auto !important;
}

mat-spinner {
  margin:auto;
}

.mat-paginator {
  margin-top: 1rem;
  margin-right:29%;
}



::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #F7941D!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #F7941D;
}


