

.info-text {
  text-align:center;
}

.mat-expansion-panel {
  background: none !important;
  width: 80% !important;
    margin:1rem auto !important;
}

mat-spinner {
  margin:auto;
}

.mat-paginator {
  margin-top: 1rem;
  margin-right:29%;
}






