<div class="preloader" *ngIf="isLoading">
  <div class="preloader-inner">
    <div class="preloader-icon">
      <span></span>
      <span></span>
    </div>
  </div>
</div>

<div class="marge-preset">
  <h2>Graph of order values in € currency</h2>
</div>

<div class="chart" *ngIf="chart">
  <canvas id="canvas">{{ chart }}</canvas>
</div>

<div
  class="marge-preset"
  *ngIf="
    userOrdersData?.ordersData.length == 0 ||
    userOrdersData?.ordersData == undefined
  "
>
  <h2>No orders found</h2>
</div>
